.content{
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}
.item{
    padding: 40px 20px;
}
.item:target tr{
    display: table-row !important;
}
a{
    color: #3190FF;
}
.title{
    display: inline;
    word-wrap:break-word;
}
.title a{
    color: black;
    text-decoration: none;
}

/* Show only the last 5 updates */
tbody{
    cursor: pointer;
}
.shortTable tr{
    display: none;
}
.shortTable tr:nth-last-child(-n+5){
    display: table-row;
}


/* Navbar */
.navbar{
    background: #eee;
}
.navbar a,
.navbar span{
    padding: 20px;
}

/*Tips and Tricks*/
.tipstricks{
    padding: 0 30px;
    border-bottom: 1px solid #eee;
    opacity: 1;
    display: block;
    
    -webkit-transition: opacity .3s ease, display .3s .3s ease;
}

.hidden{
    display: none;
    opacity: 0;
}